<div class="row">
  <div class="col-lg-6">
    <div class="containerPro">
      <div>
        <h4>
          Creación de eventos
        </h4>
      </div>
      <form [formGroup]="formEvent" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fechaE">Fecha del evento</label>
            <input type="date" formControlName="fechaEvent" [(ngModel)]="newEvent.fecha_evento"
            [style.border]="f.fechaEvent.touched && !f.fechaEvent.valid?'solid red 1px':f.fechaEvent.touched && f.fechaEvent.valid?'solid green 1px':!f.fechaEvent.touched?'solid grey 1px':''"
              class="form-control" id="fechaE" required>
          </div>
          <div class="form-group col-md-12">
            <label for="nombreEvento">Nombre del evento</label>

            <input type="text" formControlName="nameEvent"
              pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+"
              [(ngModel)]="newEvent.nombre_evento"
              [style.border]="f.nameEvent.touched && !f.nameEvent.valid?'solid red 1px':f.nameEvent.touched && f.nameEvent.valid?'solid green 1px':!f.nameEvent.touched?'solid grey 1px':''"
              class="form-control" id="nombreEvento" placeholder="Nombre evento" required>
            <span class="validForm" *ngIf="f.nameEvent.touched && !f.nameEvent.errors?.required">Correcto</span>
            <span class="errorForm" *ngIf="f.nameEvent.touched && f.nameEvent.errors?.required">El campo está vacío o no
              es
              valido.</span>
          </div>
          <div class="form-group col-6">
            <label for="autorEvento">Responsable del evento</label>
            <input type="text" formControlName="autorEvent" [(ngModel)]="newEvent.autor_evento"
              pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+"
              [style.border]="f.autorEvent.touched && !f.autorEvent.valid?'solid red 1px':f.autorEvent.touched && f.autorEvent.valid?'solid green 1px':!f.autorEvent.touched?'solid grey 1px':''"
              class="form-control" id="autorEvento" placeholder="Responsable evento">
            <span class="validForm" *ngIf="f.autorEvent.touched && !f.autorEvent.errors?.required">Correcto</span>
            <span class="errorForm" *ngIf="f.autorEvent.touched && f.autorEvent.errors?.required">El campo está vacío o
              no
              es valido.</span>
          </div>
          <div class="form-group col-6">
            <label for="inputState">Tipo de evento</label>
            <select id="inputState" formControlName="eventType"
              [style.border]="f.eventType.touched && !f.eventType.valid?'solid red 1px':f.eventType.touched && f.eventType.valid?'solid green 1px':!f.eventType.touched?'solid grey 1px':''"
              class="form-control" [(ngModel)]="newEvent.tipo_evento" required>
              <option [ngValue]="null" selected>Tipo de evento</option>
              <option *ngFor="let value of evento" [ngValue]="value.id">{{value.tipo}}</option>
            </select>
            <span class="validForm" *ngIf="f.eventType.touched && !f.eventType.errors?.required">Correcto</span>
            <span class="errorForm" *ngIf="f.eventType.touched && f.eventType.errors?.required">El campo está vacío o no
              es
              valido.</span>
          </div>
          <div class="form-group col-12">
            <label for="servioO">Servicio ofrecido</label>
            <textarea class="form-control" formControlName="serviceEvent" [(ngModel)]="newEvent.servicio_ofrecido"
              pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+"
              [style.border]="f.serviceEvent.touched && !f.serviceEvent.valid?'solid red 1px':f.serviceEvent.touched && f.serviceEvent.valid?'solid green 1px':!f.serviceEvent.touched?'solid grey 1px':''"
              id="servioO" placeholder="Servicio ofrecido" rows="3"></textarea>
            <span class="validForm" *ngIf="f.serviceEvent.touched && !f.serviceEvent.errors?.required">Correcto</span>
            <span class="errorForm" *ngIf="f.serviceEvent.touched && f.serviceEvent.errors?.required">El campo está
              vacío o
              no es valido.</span>
          </div>
          <div class="form-group col-12">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFileLang" lang="es" (change)="updateFile($event)"
                formControlName="imagenUrl" [style.border]="!f.imagenUrl.valid ? 'solid 1px red': 'solid 1px green' "
                #eventoImagen>
              <label class="custom-file-label" for="customFileLang">{{nameImg}}</label>
            </div>
          </div>
          <div class="col-lg-12 imagenP">
            <img src="{{newEvent.imagen_evento}}" width="100%" alt="">
            <span>No hay ninguna imagen cargada.</span>
          </div>
          <button type="submit" [disabled]="formEvent.errors?.valid" class="btn  btn-outline-dark btn-block">Crear
            evento</button>
        </div>
      </form>
    </div>
  </div>
</div>
