<div [ngSwitch]="idiomaSelected">
    <ng-container *ngSwitchCase="'espanol'">

        <div class="card mb-3">
            <img src="{{lastEvento.imagen_evento}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{lastEvento.nombre_evento}} </h5>
                <p class="card-text">{{lastEvento.servicio_ofrecido}}</p>
                <p class="card-text"><small class="text-muted">{{lastEvento.tipo_evento}}</small></p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'ingles'">
        <div class="card mb-3">
            <img src="../../../assets/imagenes/Flayer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Eleuvite night. </h5>
                <p class="card-text">From Sweden soon the folk metal band Eleuvite with a special presentation at Power Riff Metal Bar.
                    We are waiting for you.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </ng-container>
</div>
<ngx-spinner bdColor= "rgba(66,0,0,0.5)" size = "medium" color = "#000000" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
