<div class="inicioSesion ">
  <div [ngSwitch]="idiomaSelected">
    <ng-container *ngSwitchCase="'ingles'">
      <div class="titleIniciar">
        <i class="fas fa-user-circle fa-3x"></i>
        <h5>
          Login
        </h5>
        <hr>
      </div>
      <form #formSesion="ngForm" (ngSubmit)="onSubmit()">
        <div class="formSesion">
          <Label class="labelSesion">Enter your email:</Label>
          <input class="intputSesion form-control"
            [style.border-bottom]="correo.valid && correo.touched ||correo.dirty?'green solid 2px':'red solid 2px'" name="correo"
            #correo="ngModel" [(ngModel)]="sesion.emailSesion" [disabled]="validacion"
            pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" type="email"
            placeholder="Correo electronico" required>
          <span class="validForm" *ngIf="correo.touched && correo.valid ">Right</span>
          <span class="errorForm" *ngIf="correo.touched && !correo.valid ">The field is empty or misspelled</span>
        </div>
        <div class="formSesion">
          <Label class="labelSesion">Enter your password:</Label>
          <input class="intputSesion form-control" name="pass" #pass="ngModel" [(ngModel)]="sesion.contrasenaSesion"
            [style.border-bottom]="pass.valid && pass.touched?'green solid 2px':'red solid 2px'" [disabled]="validacion"
            pattern="[a-zA-Z0-9#$%&’*+/=?^_`-]+" type="password" placeholder="Contraseña" required>
          <span class="validForm" *ngIf="pass.touched && pass.valid ">Right</span>
          <span class="errorForm" *ngIf="pass.touched && !pass.valid">Please enter your password</span>
        </div>
        <div class="botones">
          <div class="row iniciarBoton1 text-center">
            <div class="col-12">
              <button type="submit" [disabled]="!correo.valid || !pass.valid" class="btn btn-danger"
                value="ingresar">Get
                into</button>
            </div>
          </div>
          <div class="row iniciarBoton2">
            <div class="col-12 text-center">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap">You have not yet registered?</button>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngSwitchCase="'espanol'">
      <div class="titleIniciar">
        <i class="fas fa-user-circle fa-3x"></i>
        <h5>
          Iniciar sesión
        </h5>
        <hr>
      </div>
      <form #formSesion="ngForm" (ngSubmit)="onSubmit()">
        <div class="formSesion">
          <Label class="labelSesion">Ingrese su correo:</Label>
          <input class="intputSesion form-control"
            [style.border-bottom]="correoIn.valid && correoIn.touched?'green solid 2px':'red solid 2px'" name="correoIn"
            #correoIn="ngModel" [(ngModel)]="sesion.emailSesion" [disabled]="validacion"
            pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" type="email"
            placeholder="Correo electronico" required>
          <span class="validForm" *ngIf="correoIn.touched && correoIn.valid ">Correcto</span>
          <span class="errorForm" *ngIf="correoIn.touched && !correoIn.valid ">El campo esta vacío o mal escrito</span>
        </div>
        <div class="formSesion">
          <Label class="labelSesion">Ingrese su contraseña:</Label>
          <input class="intputSesion form-control" name="passIn" #passIn="ngModel" [(ngModel)]="sesion.contrasenaSesion"
            [style.border-bottom]="passIn.valid && passIn.touched?'green solid 2px':'red solid 2px'" [disabled]="validacion"
            pattern="[a-zA-Z0-9#$%&’*+/=?^_`-]+" type="password" placeholder="Contraseña" required>
          <span class="validForm" *ngIf="passIn.touched && passIn.valid ">Correcto</span>
          <span class="errorForm" *ngIf="passIn.touched && !passIn.valid">Por favor ingrese su contraseña</span>
        </div>
        <div class="botones">
          <div class="row iniciarBoton1 text-center">
            <div class="col-12">
              <button type="submit" [disabled]="!correoIn.valid || !passIn.valid" class="btn btn-danger"
                value="ingresar">Ingresar</button>
            </div>
          </div>
          <div class="row iniciarBoton2">
            <div class="col-12 text-center">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap">¿Aun no te has registrado?</button>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>



</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formNewUsuario="ngForm" (ngSubmit)="newUserSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="recipient-name" class="col-form-label">Nombres *:</label>
              <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="newUser.nombreUsuario"
                pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}"
                [style.border]="firstName.touched && !firstName.valid?'solid red 1px':firstName.touched && firstName.valid?'solid green 1px':!firstName.touched?'solid grey 1px':''"
                class="form-control" id="recipient-name" placeholder="Primer nombre*" required>
              <span class="validForm" *ngIf="firstName.touched && firstName.valid ">Correcto</span>
              <span class="errorForm" *ngIf="firstName.touched && !firstName.valid ">El campo esta vacío o mal
                escrito</span>
            </div>
            <div class="form-group col-md-6">
              <label for="recipient-name" class="col-form-label">Apellidos *:</label>
              <input type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="newUser.apellidoUsuario"
                pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}"
                [style.border]="lastName.touched && !lastName.valid?'solid red 1px':lastName.touched && lastName.valid?'solid green 1px':!lastName.touched?'solid grey 1px':''"
                id="recipient-name" placeholder="Segundo nombre" required>
              <span class="validForm" *ngIf="lastName.touched && lastName.valid ">Correcto</span>
              <span class="errorForm" *ngIf="lastName.touched && !lastName.valid ">El campo esta vacío o mal
                escrito</span>
            </div>
            <div class="form-group col-md-12">
              <label for="CorreoUsu" class="col-form-label  ">Correo electronico:</label>
              <input type="email" class="form-control" id="CorreoUsu" placeholder="Correo electronico @ *"
                [style.border]="newEmail.touched && !newEmail.valid?'solid red 1px':newEmail.touched && newEmail.valid?'solid green 1px':!newEmail.touched?'solid grey 1px':''"
                name="newEmail" #newEmail="ngModel" [(ngModel)]="newUser.emailUsuario"
                pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
              <span class="validForm" *ngIf="newEmail.touched && newEmail.valid ">Correcto</span>
              <span class="errorForm" *ngIf="newEmail.touched && !newEmail.valid ">El campo esta vacío o mal
                escrito</span>
            </div>
            <div class="form-group col-md-6">
              <label for="recipient-name" class="col-form-label">Contraseña*</label>
              <input type="password" class="form-control" id="recipient-name" placeholder="Segundo nombre"
                pattern="[a-zA-Z0-9#$%&’*+/=?^_`-]+" name="newPass" #newPass="ngModel" [(ngModel)]="newUser.passwordUsuario"
                [style.border]="newPass.touched && !newPass.valid?'solid red 1px':newPass.touched && newPass.valid?'solid green 1px':!newPass.touched?'solid grey 1px':''"
                required>
              <span class="validForm" *ngIf="newPass.touched && newPass.valid ">Correcto</span>
              <span class="errorForm" *ngIf="newPass.touched && !newPass.valid ">El campo esta vacío o mal
                escrito</span>
            </div>
            <div class="form-group col-md-6">
              <label for="recipient-name" class="col-form-label">Confirmar contraseña</label>
              <input type="password" appConfirmEqualsValidator="newPass" class="form-control" id="recipient-name"
                placeholder="Segundo nombre" pattern="[a-zA-Z0-9#$%&’*+/=?^_`-]+" name="confirmPass"
                #confirmPass="ngModel" [(ngModel)]="newUser.passwordUsuario"
                [style.border]="confirmPass.touched && !confirmPass.valid?'solid red 1px':confirmPass.touched && confirmPass.valid ?'solid green 1px':!confirmPass.touched?'solid grey 1px':''"
                required>
              <span class="validForm" *ngIf="confirmPass.touched && confirmPass.valid ">Correcto</span>
              <span class="errorForm" *ngIf="confirmPass.touched && confirmPass.errors?.required ">Por favor ingrese una
                contraseña</span>
              <span class="errorForm"
                *ngIf="confirmPass.touched && !confirmPass.errors?.required && confirmPass.errors?.notEquals">Las
                contraseñas deben coincidir</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-secondary justify-content-center" data-dismiss="modal">Cerrar</button>
        <button type="submit" [disabled]="!formNewUsuario.form.valid " data-dismiss="modal" (click)="newUserSubmit()"
          class="btn btn-primary">Crear usuario</button>
      </div>
    </div>
  </div>
</div>