<div class="col-12">
    <div [ngSwitch]="idiomaSelected">
        <ng-container *ngSwitchCase="'espanol'">
            <div class="row" class="calendario1">
                <full-calendar defaultView="dayGridMonth"
                [locales]="locales"
                locale="es"
                [events]="calendarEvents"
                [plugins]="calendarPlugins" ></full-calendar>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'ingles'">
            <div class="row" class="calendario1">
                <full-calendar defaultView="dayGridMonth"
                [locales]="locales"
                locale="en"
                [events]="calendarEvents"
                [plugins]="calendarPlugins" ></full-calendar>
            </div>
        </ng-container>
    </div>
</div>
