footer {
    width: 100%;
    height: auto;
    
    background: rgb(47, 47, 47);
    padding: 1%;
  }
  h2, h4, h6{
    font-family: 'Oswald', sans-serif;
  }
  footer hr{
    background-color:white;
  
  }
  div.redes div{
    text-align: center
  }
  div.redes div a{
    color: white
  }
  div.copyright{
  
   /* background: rgba(255,87,34,0.9); */
   background: rgb(47, 47, 47);
   /* background: rgba(224, 52, 0, 1); */
  }
  div.copyright div{
   color: #cccccc
  }
  div.copyright div a{
    color: #fff4f4
   }
  
  footer div.contentInF{
    text-align: center
  }
  footer div.informacion{
    text-align:justify;
    color: #ffffff
  }
  footer div.more{
    text-align: center;
    color: #ffffff
  }
  footer div div.moreIn{
    text-align: center;
    color: #ffffff
  }
  footer div.Contacnos{
    color: #ffffff
  }
  footer div.Contacnos{
    color: #ffffff
  }
  footer div.Contacnos a{
    color: #ffffff
  }
  footer div.support {
    color: #ffffff
  }
  footer div.support a{
    color: #ffffff
  }
  
  .ml-qr{
    margin-left: 30% !important;
  }
  
  .mail{
    color: white
  }