.errorPage{
    background-attachment: fixed;
    background-position: center;
    background-image: url("../../../../assets/imagenes/500InternalServerError.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}
.desProduct{
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(94, 84, 83, 0.34);

}
.desProductS{
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(94, 84, 83, 0.34);
  height: 350px;
  overflow: auto;
}
.titulodes{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: gray;
  border-radius: 5px;
  padding: 5px;
}
.desPedi{
  font-weight: bold;
}
.desPedi span{
  font-weight: normal;
  color: rgba(228, 10, 10, 0.972);
}
.caja-botones{

}
.prod-seleccionado{
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(115, 63, 58, 0.34);
  margin-top: 9px;
}
