<div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tabla-pedido table">
                        <table datatable>
                            <thead>
                                <tr>
                                    <td scope="col">Estado pedido</td>
                                    <td scope="col">Mesa</td>
                                    <td scope="col">Fecha</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        2020
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </div>
</div>