<div [ngSwitch]="idiomaSelected">
  <ng-container *ngSwitchCase="'ingles'">
    <div class="updateUser">
      <div class="title">
        <h4>User update</h4>
      </div>
      <hr>
      <div *ngIf="selected;then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <form #formUpdate (submit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-6">
              <label for="">Name</label>
              <input type="text" class="form-control" name="updateName" #updateName="ngModel"
                [(ngModel)]="usuarioUpdate.nombreUsuario">
            </div>
            <div class="form-group col-6">
              <label for="">Last name</label>
              <input type="text" class="form-control" name="updateLastName" #updateLastName="ngModel"
                [(ngModel)]="usuarioUpdate.apellidoUsuario">
            </div>
            <div class="form-group col-12">
              <label for="">identification card</label>
              <input type="text" class="form-control" name="updateDocument" #updateDocument="ngModel"
                [(ngModel)]="usuarioUpdate.cedulaCiudadania">
            </div>
            <div class="form-group col-12">
              <label for="">Email</label>
              <input type="text" class="form-control" name="updateEmail" #updateEmail="ngModel"
                [(ngModel)]="usuarioUpdate.emailUsuario">
            </div>
            <div class="form-group col-6">
              <label for="">Store</label>
              <input type="text" class="form-control" name="tiendaUpdate" #tiendaUpdate="ngModel"
                [(ngModel)]="usuarioUpdate.tienda">
            </div>
            <div class="form-group col-6">
              <label for="">Work shifts</label>
              <input type="text" class="form-control" name="updateTurnos" #updateTurnos="ngModel"
                [(ngModel)]="usuarioUpdate.turnosLaborales">
            </div>
            <div class="form-group col-6">
              <label for="">User type</label>
              <select disabled id="inputState" name="tipoUser" #tipoUser="ngModel"
                [(ngModel)]="usuarioUpdate.tipoUsuario" class="form-control">
                <option [ngValue]="null" disabled>Seleccione un tipo</option>
                <option *ngFor="let item of userType" [ngValue]="item.id">{{item.tipo}}</option>
              </select>
            </div>
            <div class="form-group col-12">
              <label for="">Change password</label>
              <input type="password" class="form-control" name="updatePassword" #updatePassword="ngModel"
                [(ngModel)]="usuarioUpdate.passwordUsuario">
            </div>

          </div>
          <button type="submit" class="btn  btn-outline-danger btn-block">Send</button>
        </form>
      </ng-template>
      <ng-template #elseBlock>
        <h5>You have not selected any user!</h5>
      </ng-template>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'espanol'">
    <div class="updateUser">
      <div class="title">
        <h4>Actualizar usuario</h4>
      </div>
      <hr>
      <div *ngIf="selected;then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <form #formUpdate (submit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-6">
              <label for="">Nombre</label>
              <input type="text" class="form-control" name="updateName" #updateName="ngModel"
                [(ngModel)]="usuarioUpdate.nombreUsuario">
            </div>
            <div class="form-group col-6">
              <label for="">Apellidos</label>
              <input type="text" class="form-control" name="updateLastName" #updateLastName="ngModel"
                [(ngModel)]="usuarioUpdate.apellidoUsuario">
            </div>
            <div class="form-group col-12">
              <label for="">Cedula</label>
              <input type="text" class="form-control" name="updateDocument" #updateDocument="ngModel"
                [(ngModel)]="usuarioUpdate.cedulaCiudadania">
            </div>
            <div class="form-group col-12">
              <label for="">Correo electronico</label>
              <input type="text" class="form-control" name="updateEmail" #updateEmail="ngModel"
                [(ngModel)]="usuarioUpdate.emailUsuario">
            </div>
            <div class="form-group col-6">
              <label for="">Tienda</label>
              <input type="text" class="form-control" name="tiendaUpdate" #tiendaUpdate="ngModel"
                [(ngModel)]="usuarioUpdate.tienda">
            </div>
            <div class="form-group col-6">
              <label for="">Turnos</label>
              <input type="text" class="form-control" name="updateTurnos" #updateTurnos="ngModel"
                [(ngModel)]="usuarioUpdate.turnosLaborales">
            </div>
            <div class="form-group col-6">
              <label for="">Tipo de usuario</label>
              <select disabled id="inputState" name="tipoUser" #tipoUser="ngModel"
                [(ngModel)]="usuarioUpdate.tipoUsuario" class="form-control">
                <option [ngValue]="null" disabled>Seleccione un tipo</option>
                <option *ngFor="let item of userType" [ngValue]="item.id">{{item.tipo}}</option>
              </select>
            </div>
            <div class="form-group col-12">
              <label for="">Cambiar contraseña</label>
              <input type="password" class="form-control" name="updatePassword" #updatePassword="ngModel"
                [(ngModel)]="usuarioUpdate.passwordUsuario">
            </div>

          </div>
          <button type="submit" class="btn  btn-outline-danger btn-block">Actualizar usuario</button>
        </form>
      </ng-template>
      <ng-template #elseBlock>
        <h5>¡No ha seleccionado ningun usuario!</h5>
      </ng-template>
    </div>
  </ng-container>
</div>
