<div class="productStyle">
  <aside class="container ">
    <div class="row">
      <div class="col-12">
        <div class="row information">
          <div class="iniciar-sesion col-3">
            <div class="row">
              <button class="btn btn-secondary" data-toggle="modal" data-target="#iniSesionProduct"
                type="button">Login</button>
            </div>
            <div class="row">
              <a class="rsP" data-dismiss="modal" data-toggle="modal" data-target="#registroProducts">You
                have not registered yet?</a>
            </div>
          </div>
          <div class="buscador col-9 align-content-around">
            <div class="col-lg-12">
              <div [ngSwitch]="idiomaSelected">
                <div *ngSwitchCase="'espanol'">
                  <div class="row">
                    <div class="col-6">
                      <input type="text" placeholder="Buscar productos" id="buscar" class="form-control">
                    </div>
                    <div class="col-3">
                      <label for="buscar">
                        <button type="button" class="btn btn-dark">buscar productos
                        </button>
                      </label>
                    </div>
                    <div class="col-2 carritoCo">
                      <a type="button" (click)="sendProductos()" data-toggle="modal"
                        data-target="#exampleModal">Carrito<i class="fas fa-2x fa-cart-plus"></i></a>
                      <label for="">({{countPedidos}})</label>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="'ingles'">
                  <div class="row">
                    <div class="col-6">
                      <input type="text" placeholder="Search Products" id="buscar" class="form-control">
                    </div>
                    <div class="col-3">
                      <label for="buscar">
                        <button type="button" class="btn btn-dark">Search Products
                        </button>
                      </label>
                    </div>
                    <div class="col-2 carritoCo">
                      <a type="button" (click)="sendProductos()" data-toggle="modal"
                        data-target="#exampleModal">Shopping cart<i class="fas fa-2x fa-cart-plus"></i></a>
                      <label for="">({{countPedidos}})</label>
                    </div>
                  </div>
                </div>
                <div *ngSwitchDefault>
                  <div class="row">
                    <div class="col-6">
                      <input type="text" placeholder="Buscar productos" id="buscar" class="form-control">
                    </div>
                    <div class="col-3">
                      <label for="buscar">
                        <button type="button" class="btn btn-dark">buscar productos
                        </button>
                      </label>
                    </div>
                    <div class="col-2 carritoCo">
                      <a type="button" (click)="sendProductos()" data-toggle="modal"
                        data-target="#exampleModal">Carrito<i class="fas fa-2x fa-cart-plus"></i></a>
                      <label for="">({{countPedidos}})</label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-3 col-md-12 filtroM">
        <div class="list-group filtros">
          <div [ngSwitch]="idiomaSelected">
            <div *ngSwitchCase="'espanol'">
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Cervezas</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Aguardientes</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Aperitivos</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Whisky</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Cocteles</button>
            </div>
            <div *ngSwitchCase="'ingles'">
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Beer</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Schnapps</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Appetizers</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Whisky</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Cocktails</button>
            </div>
            <div *ngSwitchDefault>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Cervezas</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Aguardientes</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Aperitivos</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Whisky</button>
              <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-glass-martini"></i>
                Cocteles</button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-9 col-md-12 infoProductos">
        <div [ngSwitch]="idiomaSelected">
          <div *ngSwitchCase="'espanol'" class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor="let product of listaProductosESP; let productPoint=index">
              <div class="card">
                <img src="{{product.url_imagen}}" class="card-img-top" alt="" style="max-height: 150px;">
                <div class="card-body">
                  <h5 class="card-title">{{product.nombreProducto}}</h5>
                  <p class="card-text">{{product.descripcion_producto}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">${{product.valor_mas_iva}}</small>
                  <a type="button" (click)="agregarProducto(product.idProductos)"><i class="fas fa-cart-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'ingles'" class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor="let product of listaProductosIN; let productPoint=index">
              <div class="card">
                <img src="{{product.url_imagen}}" class="card-img-top" alt="" style="max-height: 150px;">
                <div class="card-body">
                  <h5 class="card-title">{{product.nombreProductoIn}}</h5>
                  <p class="card-text">{{product.descripcion_producto}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">${{product.valor_mas_iva}}</small>
                  <a type="button" (click)="agregarProducto(product.idProductos)"><i class="fas fa-cart-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchDefault class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor="let product of listaProductosESP; let productPoint=index">
              <div class="card">
                <img src="{{product.url_imagen}}" class="card-img-top" alt="" style="max-height: 150px;">
                <div class="card-body">
                  <h5 class="card-title">{{product.nombreProducto}}</h5>
                  <p class="card-text">{{product.descripcion_producto}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">${{product.valor_mas_iva}}</small>
                  <a type="button" (click)="agregarProducto(product.idProductos)"><i class="fas fa-cart-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </aside>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <app-carrito-compras></app-carrito-compras>
    </div>
  </div>
</div>
<div class="modal fade" id="iniSesionProduct" tabindex="-1" role="dialog" aria-labelledby="iniSesionProduct"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="iniSesionProduct">Ingreso de sesion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-ini-sesion-product></app-ini-sesion-product>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="registroProducts" tabindex="-1" role="dialog" aria-labelledby="registroProducts"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div [ngSwitch]="idiomaSelected">
          <ng-container *ngSwitchCase="'ingles'">
            <h5 class="modal-title" id="registroProducts">User register</h5>
          </ng-container>
          <ng-container *ngSwitchCase="'espanol'">
            <h5 class="modal-title" id="registroProducts">Registro de Usuario</h5>
          </ng-container>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-registro-pro></app-registro-pro>
      </div>
    </div>
  </div>
</div>
