<div [ngSwitch]="idiomaSelected">
  <ng-container *ngSwitchCase="'ingles'">
    <div class="nosotros col-lg-12">
      <div class="row">
        <div class="col-lg-12 parallax">
          <div class="container col-lg-6 col-sm-6 contenidoP">
            <div class="row">
              <div class="col-lg-6 col-sm-6 imagenP">
                <img src="../../assets/imagenes/Logopower2.png" alt="mano">
              </div>
              <div class="col-lg-6 col-sm-6 text-center contenidoLetter">
                <!-- <h1>
                                Power riff Metal Bar
                            </h1> -->

                <h1>
                  About us
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="col-lg-12">
            <div class="quienesSomos">
              <p class="card-text">Power Riff offers an option created to enjoy a pleasant environment,
                relaxed,
                without neglecting
                spend a happy time in the company of friends or family. As far as drinks are concerned, we focus on
                cater to varied tastes, we create an attractive and unique style for those who wish to chat accompanied by
                a
                glass of wine, enjoy a drink, cocktail or beer from our national and international bar.
                for
                We are an attractive option during part of the day and night, summons young and adult audiences who are looking
                a
                environment conducive to conversation, reunions with friends, entertainment and celebrations.

                Our music is select and varied, chosen by our clients, which is accompanied by videos
                musicals
                that are transmitted in several TV's plasmas strategically distributed for viewing from all
                Points of
                our environment, which at the same time are a key point for the transmission of sports that can only
                be enjoyed in paid service.
                for
                In Power Riff you constantly find attractive surprises, promotions and events for your visitors.
                We are open to new options and suggestions from our distinguished clientele.

                What better way than to awaken your five senses in a single pleasant, reliable and safe place ... visit us and
                start your afternoons in a comfortable and pleasant environment ..</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 parallax2">
          <div class="container col-lg-6 col-sm-6 contenidoP">
            <div class="row">
              <div class="col-lg-6 col-sm-6 imagenP">
                <img src="../../assets/imagenes/Logopower2.png" alt="mano">
              </div>
              <div class="col-lg-6 col-sm-6 text-center contenidoLetter">
                <!-- <h1>
                                Power riff Metal Bar
                            </h1> -->

                <h1>
                  Mission
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="col-lg-12">
            <div class="quienesSomos">
              <p class="card-text">Provide an attractive and exclusive place with a very good atmosphere, offering our
                visitors one
                atmosphere
                cheerful and entertaining accompanied by quality products, select music and excellent service. A
                place
                where customers want to return, where we seek to generate unconditional followers of good taste,
                with what
                which we contribute to our growth and improvement day by day.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 parallax3">
          <div class="container col-lg-6 col-sm-6 contenidoP">
            <div class="row">
              <div class="col-lg-6 col-sm-6 imagenP">
                <img src="../../assets/imagenes/Logopower2.png" alt="mano">
              </div>
              <div class="col-lg-6 col-sm-6 text-center contenidoLetter">
                <!-- <h1>
                                Power riff Metal Bar
                            </h1> -->

                <h1>
                  Vision
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="col-lg-12">
            <div class="quienesSomos">
              <p class="card-text">To be the most important entertainment center in Bogotá through platform
                digital
                reference in
                the
                communications area focused on the beverage industry, with the aim of unifying the
                cocktails and national Bartending beyond our borders, thus promoting and projecting
                our
                roots and alcoholic culture.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'espanol'">
    <div class="nosotros col-lg-12">
      <div class="row">
        <div class="col-lg-12 parallax">
          <div class="container col-lg-6 col-sm-6 contenidoP">
            <div class="row">
              <div class="col-lg-6 col-sm-6 imagenP">
                <img src="../../assets/imagenes/Logopower2.png" alt="mano">
              </div>
              <div class="col-lg-6 col-sm-6 text-center contenidoLetter">
                <!-- <h1>
                                Power riff Metal Bar
                            </h1> -->

                <h1>
                  Quienes Somos
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="col-lg-12">
            <div class="quienesSomos">
              <p class="card-text">Power Riff ofrece una opción creada para disfrutar de un ambiente agradable,
                relajado,
                sin dejar de lado
                pasar un rato alegre en compañía de amigos o familiares. En cuanto a bebidas se refiere nos enfocamos en
                atender gustos variados, creamos un estilo atractivo y único para quienes deseen charlar acompañados de
                una
                copa de vino, disfrutar de un trago, coctel o cerveza de nuestro bar nacional e internacional.
                <br>
                Somos una opción atractiva durante parte del día y la noche, convoca a público joven y adulto que busca
                un
                ambiente propicio para la conversación, reencuentros con amigos, entretenimiento y celebraciones.

                Nuestra música es selecta y variada, escogida por nuestros clientes, la cual se acompaña de videos
                musicales
                que se transmiten en varias TV´s plasmas distribuidas estratégicamente para visión desde todos los
                puntos de
                nuestro ambiente, que a la vez son un punto clave para la transmisión de deportes que sólo pueden
                disfrutarse en servicio pago.
                <br>
                En Power Riff encuentras constantemente sorpresas, promociones y eventos atractivos para sus visitantes.
                Estamos abiertos a nuevas opciones y sugerencias de nuestra distinguida clientela.

                Qué mejor que despertar tus cinco sentidos en un solo lugar agradable, confiable y seguro… visítanos e
                inicia tus tardes en un ambiente cómodo y agradable..</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 parallax2">
          <div class="container col-lg-6 col-sm-6 contenidoP">
            <div class="row">
              <div class="col-lg-6 col-sm-6 imagenP">
                <img src="../../assets/imagenes/Logopower2.png" alt="mano">
              </div>
              <div class="col-lg-6 col-sm-6 text-center contenidoLetter">
                <!-- <h1>
                                Power riff Metal Bar
                            </h1> -->

                <h1>
                  Misión
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="col-lg-12">
            <div class="quienesSomos">
              <p class="card-text">Brindar un sitio atractivo y exclusivo de muy buen ambiente, ofreciendo a nuestros
                visitantes una
                atmósfera
                alegre y de distracción acompañada de productos de calidad, música selecta y excelente servicio. Un
                lugar
                donde los clientes deseen regresar, donde buscamos generar seguidores incondicionales del buen gusto,
                con lo
                cual contribuimos a nuestro crecimiento y mejora día a día.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 parallax3">
          <div class="container col-lg-6 col-sm-6 contenidoP">
            <div class="row">
              <div class="col-lg-6 col-sm-6 imagenP">
                <img src="../../assets/imagenes/Logopower2.png" alt="mano">
              </div>
              <div class="col-lg-6 col-sm-6 text-center contenidoLetter">
                <!-- <h1>
                                Power riff Metal Bar
                            </h1> -->

                <h1>
                  Visión
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="col-lg-12">
            <div class="quienesSomos">
              <p class="card-text">Ser el centro de entretenimiento más importante de Bogotá por medio de plataforma
                digital
                referente en
                el
                área de las comunicaciones enfocada en la industria de las bebidas, con el objetivo de unificar la
                coctelería y el Bartending nacional más allá de nuestras fronteras, promoviendo y proyectando así
                nuestras
                raíces y cultura etílica.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
