<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-2">
      <div *ngIf="tipoUser === 1; else bartender">
        <div [ngSwitch]="idiomaSelected">
          <ng-container *ngSwitchCase="'ingles'">
            <div class="list-group botonesLista">
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('1')"
              >
                User management
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('2')"
              >
                Product management
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('3')"
              >
                Order Management
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('4')"
              >
                Music management
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('5')"
              >
                Event management
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('6')"
              >
                Reports
              </button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'espanol'">
            <div class="list-group botonesLista">
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('1')"
              >
                Gestión Usuarios
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('2')"
              >
                Gestión Productos
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('3')"
              >
                Gestión Pedidos
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('4')"
              >
                Gestion de musica
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('5')"
              >
                Gestión Eventos
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('6')"
              >
                Reportes
              </button>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-template #bartender>
        <div [ngSwitch]="idiomaSelected">
          <ng-container *ngSwitchCase="'ingles'">
            <div class="list-group botonesLista">
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('3')"
              >
                Order Management
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('4')"
              >
                Music management
              </button>
             
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'espanol'">
            <div class="list-group botonesLista">
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('3')"
              >
                Gestión Pedidos
              </button>
              <button
                type="button"
                class="list-group-item actionb"
                (click)="modulo('4')"
              >
                Gestion de musica
              </button>
              
            </div>
          </ng-container>
        </div>
      </ng-template>
    </div>
    <div class="col-lg-10">
      <div [ngSwitch]="rutasAdmin">
        <div *ngSwitchCase="1">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12">
                  <button
                    class="btn btn-primary btn-block"
                    data-toggle="modal"
                    data-target="#mensajeMasivo"
                  >
                    Enviar correo a todos los usuarios
                  </button>
                  <app-eliminar-usuario></app-eliminar-usuario>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <app-crear-usuario></app-crear-usuario>
                </div>
                <div class="col-lg-6">
                  <app-update-usuario></app-update-usuario>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="2">
          <div class="row">
            <div class="col-lg-12">
              <app-eliminar-productos></app-eliminar-productos>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <app-crear-productos></app-crear-productos>
            </div>
            <div class="col-lg-6">
              <app-actualizar-productos></app-actualizar-productos>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="3">
          <div class="row">
            <div class="col-lg-12">
              <app-gestor-pedido></app-gestor-pedido>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="4">
          <div class="row mt-3">
            <div class="col-lg-6">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingtwo">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="true"
                        aria-controls="collapseTwo"
                      >
                        Listar Albumes
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse show"
                    aria-labelledby="headingtwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <app-eliminar-album></app-eliminar-album>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="false"
                        aria-controls="collapseOne"
                      >
                        Crear un album
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseOne"
                    class="collapse "
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <app-crear-album></app-crear-album>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <app-procesar-canciones></app-procesar-canciones>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="5">
          <div class="row">
            <div class="col-lg-12">
              <app-listar-eventos></app-listar-eventos>
            </div>
            <div class="col-lg-6">
              <app-gestor-eventos></app-gestor-eventos>
            </div>
            <div class="col-lg-6">
              <app-actualizar-evento></app-actualizar-evento>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="6">
          <div class="row">
            <div class="col-lg-12">
              <app-reportes></app-reportes>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="mensajeMasivo"
  tabindex="-1"
  aria-labelledby="mensajeMasivoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mensajeMasivoLabel">
          Enviar correo masivo
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlInput1">Asunto del mensaje</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Agregue un asunto*"
            name="asuntoMensaje"
            #asuntoMensaje="ngModel"
            [(ngModel)]="asunto"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mensaje</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="mensajeM"
            #mensajeM="ngModel"
            [(ngModel)]="mensaje"
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="enviarCorreoMasivo(asunto, mensaje)"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor= "rgba(66,0,0,0.5)" size = "medium" color = "#000000" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>