<div class="col-12 col-lg-12 tablaEvento">
  <div *ngIf="listaEventos.length > 0; else noData">
    <table datatable>
      <thead>
        <tr>
          <th>Fecha evento</th>
          <th>Nombre evento</th>
          <th>Tipo evento</th>
          <th>Autor evento</th>
          <th>Servicio ofrecido</th>
          <td>Acciones</td>
        </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let evento of listaEventos; let eventoSelected = index">
            <tr>
              <td>{{evento.fecha_evento}}</td>
              <td>{{evento.nombre_evento}}</td>
              <td>{{evento.tipo_evento}}</td>
              <td>{{evento.autor_evento}}</td>
              <td>{{evento.servicio_ofrecido}}</td>
              <td>
                <button class="btn btn-danger" (click)="eliminarEvento(evento.idEventos)">X</button>
                <button class="btn btn-primary" (click)="actualizarEvento(evento.idEventos)">A</button>
              </td>
            </tr>
          </ng-container>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <h5>No hay data disponible</h5>
  </ng-template>
  <div class="text-center">
    <button class="btn btn-danger btn-md " (click)="reporte()">Descargar reporte</button>
  </div>
</div>
