nav {
    background: rgb(1,0,6);
    background: linear-gradient(143deg, rgba(162,52,8,1) 28%, rgba(121,9,9,1) 51%, rgba(1,0,6,1) 80%);
}
@font-face{
    font-family: Abstract classic font;
    src: url(../../assets/fuentes/AbstractClassicFont.ttf);
}   
nav .nav-link{
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 19px;
    font-style: oblique;
}
nav .nav-item :hover{
    border-radius: 5px;
    color: white;
    background: linear-gradient(143deg, rgba(1,0,6,1) 28%, rgba(171,61,22,1) 67%);
}
.dropdown-menu{
    background: linear-gradient(143deg, rgba(162,52,8,1) 28%, rgba(121,9,9,1) 51%, rgba(1,0,6,1) 80%);
    color: white !important;
}
.dropdown-item{
    color: white;
}
.custom-toggler.navbar-toggler { 
    border-color: lightgreen; 
} 
/* .cerrarSesion{
    color: white;
    font-size: 14px;
}
.cerrarSesion :hover{
    color: white;
} */
.navbar-toggler-icon{
    color: white;
}
.imagenID{
    width: 45%;
    border-right: 50%;
}
.idiomaCol{
    margin-top: 15px;
    margin-bottom: 35px;
}
.modal-content{
    background-color: rgba(112, 111, 114, 0.541);
}
.modal-title{
    color: white;
}
/* button .close{
    color: white;
} */